<div class="card">
  <div class="card-header">
    <h1>Faça upload do arquivo CNAB</h1>
    <mat-divider></mat-divider>
    <br />
    <br />
    <p>
      Faça o upload de seu arquivo CNAB no format <code>.txt</code> para
      processamento.
    </p>
  </div>
  <div class="card-body">
    <mat-form-field>
      <div>
        <mat-toolbar>
          <!-- Display files names -->
          <input matInput [(ngModel)]="fileAttr" readonly name="name" />

          <!-- Browse Button -->
          <button mat-flat-button color="accent">Buscar Arquivo</button>
        </mat-toolbar>

        <!-- Fetch selected filed on change -->
        <input
          type="file"
          #fileInput
          id="uploadFile"
          (change)="selectFile($event)"
          name="uploadFile"
          single="single"
          accept="text/plain"
        />
      </div>
    </mat-form-field>
  </div>
  <button
    class="enviar mat-elevation-z4 mt-2 mx-auto"
    mat-flat-button
    color="primary"
    [disabled]="!selectedFiles"
    (click)="upload()"
  >
    <mat-icon>upload</mat-icon>
    Enviar
  </button>
</div>
