<div>
  <h1>💻 Desafio Dev by bycoders_</h1>

  <mat-divider></mat-divider>
  <br /><br />

  <p>
    Olá, meu nome é Hérick Wilke, e esta é a minha tentativa para resolução do
    desafio dev da bycoders_.
  </p>
  <br />
  <h2>1. Como funciona</h2>
  <p>
    Tentei implementar da forma mais simples quanto foi pedido: apenas uma guia
    que faça a importação do arquivo, da qual pode ser acessada pelo sidebar
    pelo meno "CNAB".
  </p>
  <p>
    Pelo pouco tempo do qual tive a disposição para realizar o teste (cerca de
    72h), foquei nas funcionalidades principais. O sistema ficou mais puxado
    para uma POC do que para um sistema em sí, mas espero que atenda o
    planejado. Com mais tempo, com certeza daria para fazer algo muito superior
    a isto.
  </p>

  <br />

  <h2>2. A importação</h2>
  <p>
    Para importar um arquivo, basta selecionar um arquivo CNAB (formato .txt)
    como o do exemplo deixado no repositório que foi solicitado o fork e clicar
    em enviar. Caso seja tentado enviar o mesmo arquivo novamente na mesma
    sessão (sem haver um reload), o sistema irá automaticamente descartar, para
    não haver duplicação acidental. Porém, ao recarregar o elemento, ou página,
    o sistema irá aceitar o arquivo novamente.
  </p>

  <br />
  <h2>3. A guia vendas</h2>
  <p>
    Na página de vendas, a ideia foi extremamente simples. São consultados dois
    endpoints, um retornando uma lista completa com todas as transações e
    preenchendo uma tabela, e outra trás o total diferenciando lojas e o tipo de
    transação.
  </p>
  <br />
  <mat-divider></mat-divider>
  <br />
  <h2>Considerações Finais</h2>
  <p>
    A implementação foi de uma forma muito simples, apenas para demonstrar. Em
    um caso real de requisitos mais delicados, tudo pode ser feito com muito
    mais carinho e atenção. Aproveito aqui para agradecer a oportunidade de
    participar de seu processo seletivo.
  </p>
  <br />
  <p>Feito com 💗 no Brasil.</p>
</div>
