<h1>🏪 Lojas e Transações</h1>
<mat-divider></mat-divider>
<br />
<p>
  Aqui podem ser encontradas informações detalhadas de cada transação CNAB e um
  totalizador de transações por gênero e por estabelecimento.
</p>
<br /><br />

<mat-divider></mat-divider>

<mat-tab-group>
  <mat-tab label="Totais">
    <table mat-table [dataSource]="dataSourceTotais">
      <!-- nome_loja Column -->
      <ng-container matColumnDef="nome_loja">
        <th mat-header-cell *matHeaderCellDef>Loja</th>
        <td mat-cell *matCellDef="let element">{{ element.nome_loja }}</td>
      </ng-container>

      <!-- Descrição Column -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let element">{{ element.descricao }}</td>
      </ng-container>

      <!-- Natureza Column -->
      <ng-container matColumnDef="natureza">
        <th mat-header-cell *matHeaderCellDef>Natureza</th>
        <td mat-cell *matCellDef="let element">{{ element.natureza }}</td>
      </ng-container>

      <!-- Valor Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">
          {{ element.valor | currency: "R$" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsTotais"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsTotais"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons>
    </mat-paginator>
  </mat-tab>

  <mat-tab label="Detalhamento por transação">
    <table mat-table [dataSource]="dataSource">
      <!-- nome_loja Column -->
      <ng-container matColumnDef="nome_loja">
        <th mat-header-cell *matHeaderCellDef>Loja</th>
        <td mat-cell *matCellDef="let element">{{ element.nome_loja }}</td>
      </ng-container>

      <!-- nome_proprietario Column -->
      <ng-container matColumnDef="nome_proprietario">
        <th mat-header-cell *matHeaderCellDef>Proprietário</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nome_proprietario }}
        </td>
      </ng-container>

      <!-- Cartão Column -->
      <ng-container matColumnDef="cartao">
        <th mat-header-cell *matHeaderCellDef>Cartão</th>
        <td mat-cell *matCellDef="let element">{{ element.cartao }}</td>
      </ng-container>

      <!-- CPF Column -->
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let element">{{ element.cpf }}</td>
      </ng-container>

      <!-- Descrição Column -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let element">{{ element.descricao }}</td>
      </ng-container>

      <!-- Natureza Column -->
      <ng-container matColumnDef="natureza">
        <th mat-header-cell *matHeaderCellDef>Natureza</th>
        <td mat-cell *matCellDef="let element">{{ element.natureza }}</td>
      </ng-container>

      <!-- Valor Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let element">
          {{ element.valor | currency: "R$" }}
        </td>
      </ng-container>

      <!-- Data Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let element">
          {{ element.data | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <!-- hora Column -->
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef>Hora</th>
        <td mat-cell *matCellDef="let element">{{ element.hora }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #transacoesPaginator
      [pageSizeOptions]="[10]"
      showFirstLastButtons
    >
    </mat-paginator>
  </mat-tab>
</mat-tab-group>
